@model BullDoghs.Models.tbCourseSection

@{
    ViewData["Title"] = "Details";
}

<h1>Details For Your Course:</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Course tilte:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseTitle_FKNavigation.CourseTitle_PK)
        </dd>
        <dt class="col-sm-2">
            Assigned classroom:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassRoom)
        </dd>
        <dt class = "col-sm-2">
            Class day:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course_day)
        </dd>
        <dt class = "col-sm-2">
            Class time:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course_time)
        </dd>
        <dt class = "col-sm-2">
            Student Number:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttendentNumber)
        </dd>
         
        <dt class = "col-sm-2">
            Teacher's Name:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherID_FKNavigation.TeacherName)
        </dd>
        <dt class="col-sm-2">
            Teacher's Email:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeacherID_FKNavigation.Email)
        </dd>
        <dt class="col-sm-2">
            Teacher's Phone Number:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeacherID_FKNavigation.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            Course Description:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseTitle_FKNavigation.Course_Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CourseSectionID_PK">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
