@model IEnumerable<tbRegistration>

@{
    ViewData["Title"] = "RegistrationView";
}

<h2>Overview of all Courses Registrations at Bulldog High School:</h2>

<form asp-action="RegistrationView" method="post">
    <div class="form-group">
        <p>
            Search by Course Name: <input maxlength="30" type="text" name="courseName" value="@ViewData["CourseNameFilter"]" />


            @*Course Status: <input maxlength="30" type="text" name="status" value="@ViewData["CourseStatusFilter"]"  />*@

            Course Status:
            <select name="status">
                <option value="">Select Status:</option>
                <option value="Complete">Complete</option>
                <option value="Incomplete">Incomplete</option>
            </select>



            Student Name: <input maxlength="30" type="text" name="studentFirstName" value="@ViewData["StudentNameFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="RegistrationView">Reset</a>

        </p>
    </div>
</form>

@if (Model.Any())
{
    <table class="table table-sm table-striped table-bordered" align="center">
        <thead>
            <tr style="text-align: center">
                <th>Registration ID</th>
                <th>Course</th>
                <th>Assigned Classroom</th>
                <th>Status</th>
                @*<th>Grade</th>*@
                <th>Student Name</th>
                <th>Student's Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr style="text-align: center">
                    <td>@p.CourseRegistrationID_PK</td>
                    <td>@p.CourseSectionID_FKNavigation.CourseTitle_FK</td>
                    <td>@p.CourseSectionID_FKNavigation.ClassRoom</td>
                    <td>@p.CourseStatus</td>
                   @* <td style="text-align: center">@p.CourseScore</td>*@
                    <td>@p.StudentID_FKNavigation.StudentName</td>
                    <td>@p.StudentID_FKNavigation.Email</td>
                </tr>
            }
        </tbody>
    </table>
}

